@import "./config";
@import "./header";
@import "./infobox";
@import "./projects";
@import "./contact";
@import "./footer";
@import "./about";
@import "./responsive";

//place styling that will persist throughout pages here (others placed in partials)
html{
  overflow-x: hidden;
}

body{
  font-family: 'Open Sans', sans-serif;font-family: 'Open Sans', sans-serif; //300 400 700
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.section-start{
  width: 25vw;
  margin-right: auto;
  margin-left: auto;
  border-top: 5px solid $blue;
  margin-bottom: 1em;
}

.section-title{
  font-size: 1.75em;
  text-align: center;
  font-weight: 500;
}